.Button {
  background: #ff3e00;
	color: white;
	border: none;
	padding: 8px 12px;
  border-radius: 2px;
  user-select: none;
}

.Button:hover {
  background: #ff4000c5;
}

.Button:active {
  background: #d13400;
}